/node_modules
/public/hot
/public/firebase-private-key.json
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.cpanel
/access-logs
/tmp
/.well-known
/logs
.lastlogin
error_log
/public/uploads/
/ssl
/.trash
/public/uploads.zip
/config/broadcasting.php
/config/websockets.php
/resources/js/bootstrap.js
.git.zip
composer.lock
/public_html
.bash_history
mail/
etc/
