.date {
    margin-left: 2.8rem !important;
    margin-top: 7.3rem !important;
    text-align: left !important;
    font-size: 1.5rem;

}

.div-indicator {
    margin-top: 6rem !important;
    margin-right: 1rem !important;
}

